@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #13061d;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13061d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.form-input {
  @apply p-2.5 bg-white/10 text-white focus:outline-none focus:ring-2 focus:ring-purple-500 rounded-xl transition-all w-full
}

*{
  scrollbar-width:thin;
  scrollbar-color: #4B5563 #1A202C;
}

.fade-in{
  animation: fade-in 0.25s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}
.fade-out{
  animation: fade-out 0.25s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

@keyframes fade-in {
  from { opacity: 0;scale: 0.8; transform: translateY(-100px); }
  to { opacity: 1;scale: 1; transform: translateY(0px); }
}
@keyframes fade-out {
  from { opacity: 1;scale: 1; transform: translateY(0px); }
  to { opacity: 0;scale: 0.8; transform: translateY(100px); }
}
